name: Destroy

on:
  workflow_dispatch:

jobs:
  tf-validate:
    name: Terraform validate and format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          TF_VAR_owner: ${{ vars.OWNER }}
          TF_VAR_bucket: ${{ secrets.BUCKET_BACKEND }}
          TF_VAR_key: ${{ secrets.KEY_BUCKET_BACKEND }}

      - name: Setup project
        run: make terraform-init

      - name: Validate terraform files
        run: make terraform-validate


  tf-destroy:
    name: Terraform destroy
    needs: [tf-validate]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
          TF_VAR_owner: ${{ vars.OWNER }}
          TF_VAR_bucket: ${{ secrets.BUCKET_BACKEND }}
          TF_VAR_key: ${{ secrets.KEY_BUCKET_BACKEND }}

      - name: Init project
        run: make terraform-init

      - name: Terraform plan
        run: make terraform-plan

      - name: Terraform destroy
        run: make terraform-destroy
